/*Author: Connor Knight*/

/*This is the css for the index page*/

/*All possible fonts that can be used are defined here*/

@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

/*the base setup for all screens bigger than 600px and the specialization for the slightly bigger screen.*/
@media only screen and (min-width: 600px){
    .body{
        display: grid;
        grid-template-columns:  2fr 1fr max-content 2fr;
        grid-template-rows: min-content max-content;
        margin: auto;
        padding: 10px;
    }

    /*tells the header text in the content section to center and be at the top*/
    .header{
        text-align: left;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: auto;
        margin-bottom: auto;
    }

    /*tells the image in the content section to be at the right side of the section*/
    .MiiImg {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 60px;
    }

    /*centers the image in its assiangined area and makes it fill the width of its alotted area*/
    .MiiImg img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    /*tells the bio text in the content section to be at the left side of the section*/
    .bio{
        background-color: var(--main-color);
        border-radius: 5px;
        padding: 10px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        box-shadow: 3px 3px 3px var(--shadow-color);
    }

    .bio h2{
        text-align: center;
    }
}

/*the overides for all screens bigger than 768px*/
@media only screen and (min-width: 750px){

    /*sets up the grid layout and background for the content section of the site*/
    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content 1fr;
        margin: auto;
        padding: 10px;
        width: 90%;
        background: linear-gradient(rgba(83, 83, 83, 0.7));
        border-radius: 5px;
        font-size: 1.4em;
    }

    /*tells the header text in the content section to center and be at the top*/
    .header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*tells the bio text in the content section to be at the left side of the section*/
    .bio{
        background-color: var(--main-color);
        border-radius: 5px;
        padding: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*tells the image in the content section to be at the right side of the section*/
    .MiiImg {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
    }

    /*centers the image in its assiangined area and makes it fill the width of its alotted area*/
    .MiiImg img{
        margin: auto;
        width: 100%;
    }
}

/*the base setup for all screens bigger than 992px and the specialization for the smaller screen.*/
@media only screen and (min-width: 900px){

    /*sets up a new grid to organize the site differently*/
    .body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content 2fr 1fr;
        font-size: 30px;
    }

    /*tells the header text in the content section to be in the top space and centered*/
    .header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*the general rules for the bio text and the spaces that they are allotted to*/
    .bio{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 40px;
    }

    /*the specific rules for the content text within the bio*/
    .bio > p{
        width: 90%;
        margin-left: 5%;
        text-align: left;
    }

    /*the specific rules for the header text within the bio*/
    .bio h2{
        text-align: center;
    }

    /*tells the image where it is allowed to be*/
    .MiiImg {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*the the image what size it should be and how to center itself*/
    .MiiImg img{
        margin-left: 35%;
        width: 30%;
    }

}

/*this tis the media tag for screens of my size (BIGG) or 1400px*/
@media only screen and (min-width: 1400px){

    /*tells the bio to be smaller*/
    .bio{
        width: 70%;
        margin-left: 15%;
    }

    /*tells the bio content text to have less width and to align acordingly*/
    .bio > p{
        margin-left: 6%;
        margin-right: 6%;
        text-align: left;
    }
}