@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 600px){
    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content 1fr;
        margin: auto;
        padding: 10px;
        width: 90%;
        background: linear-gradient(rgba(83, 83, 83, 0.836));
        border-radius: 5px;
        font-size: 20px;
    }

    .header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .bio{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .MiiImg {
        /*center img*/
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .MiiImg img{
        margin: auto;
        height: 100%;
        width: min-content;
    }
}

@media only screen and (min-width: 768px){
    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content 1fr;
        margin: auto;
        padding: 10px;
        width: 90%;
        background: linear-gradient(rgba(83, 83, 83, 0.7));
        border-radius: 5px;
        font-size: 20px;
    }

    .header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .bio{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .MiiImg {
        /*center img*/
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .MiiImg img{
        margin: auto;
        width: 50%;
    }
}

@media only screen and (min-width: 992px){

    .body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content 1fr;
        margin: auto;
        padding: 10px;
        width: 90%;
        background: linear-gradient(rgba(83, 83, 83, 0.35),rgba(83, 83, 83, 0.35));
        border-radius: 5px;
        font-size: 40px;
    }

    .header{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .bio{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 40px;
    }

    .bio > p{
        font-size: 50px;
    }

    .MiiImg {
        /*center img*/
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .MiiImg img{
        margin: auto;
        width: 50%;
    }

}