@font-face{
    font-family: 'Plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'main';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

body{
    margin: 0px;
    font-family: 'main';
}

@media only screen and (min-width: 0px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){
    
    header{
        margin: 3%;
        background: green;
        border-radius: 10px;
        padding: 5px;
    }
    header li{
        
    }
}