/*Author: Connor Knight*/

/*This is the css for the resume page*/

/*All possible fonts that can be used are defined here*/

@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

/*the base setup for all screens bigger than 600px and the specialization for the small screen.*/
@media only screen and (min-width: 600px){

    /*defines the body's font and font alignment*/
    .body{
        width: 100%;
        margin: auto;
        font-family: 'open';
        text-align: center;
        background: var(--main-color);
        border-radius: 50px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .body a
    {
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
    }
}

@media only screen and (min-width: 768px){

    .body{
        width: 80%;
    }
}

@media only screen and (min-width: 992px){

    .body
    {
        width: 90%;
    }

    .body > ul
    {
        text-align: left;
        padding: 30px;
        background: var(--main-color);
        border-radius: 5px;
    }

    h1
    {
        font-size: 3em;
        background: var(--main-color);
        border-radius: 5px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    h2
    {
        font-size: 2em;
        background: var(--main-color);
        border-radius: 5px;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .body > h3
    {
        font-size: 20px;
        background: var(--main-color);
        border-radius: 5px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1400px){

    .body
    {
        width: 70%;
    }

    .body > ul
    {
        text-align: left;
        padding: 30px;
        padding-top: 10px;
        margin-top: 0px;
    }

    h1
    {
        font-size: 3.25em;
    }

    h2
    {
        font-size: 2.5em;
    }

    .body > h3
    {
        font-size: 25px;
    }
}