/*Author: Connor Knight*/

/*This is the css for the site list page*/

/*All possible fonts that can be used are defined here*/

@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 600px){

    /*formats the content body*/
    .body{
        width: 90%;
        margin: auto;
        font-size: 2em;
    }

    /*styles the paragraphs in the content body*/
    .body p{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    /*formats the div items*/
    .body > div{
        text-align: center;
        background: var(--main-color);
        margin-bottom: 10px;
        border-radius: 5px;
        width: 95%;
        box-shadow: 3px 3px 3px var(--shadow-color);
        height: 275px;
    }

    /*formats the h1s in the content body*/
    .body h1{
        text-align: center;
        font-size: 1em;
    }

    /*formats the imgs in the divs*/
    .body > div img{
        width: 100%;
        border-radius: 5px;
        height: 200px;
    }

    /*styles the links in the content body*/
    .body a:visited, .body a:link{
        color: black;
        text-decoration: none;
    }

    /*fomats the links and gives them an animation*/
    .body a:hover, a:active{
        color: rgb(255, 255, 255);
        transition: 1s;
        background-color: black;
        text-decoration: none;
    }

    /*gives the paragraph tags animation when you hover over it*/
    .body > div > a > p:hover{
        animation-name: FntGrow1;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*special formating for bigger text*/
    .body > div > a > p#twoLiner{
        margin-top: 9px;
        margin-bottom: 9px;
    }
}

@media only screen and (min-width: 768px){

    /*formats the body*/
    .body{
        width: 90%;
        margin: auto;
    }

    /*styles the h1s*/
    .body h1{
        font-size: 40px;
        text-align: center;
    }

    /*styles the div items in general*/
    .body > div{
        font-size: 30px;
        text-align: center;
        background: var(--main-color);
        margin-bottom: 10px;
        height: 290px;
    }

    /*styles the imgs in the div items*/
    .body > div img{
        width: 100%;
        border-radius: 5px;
        height: 190px;
    }

    /*styles the links in prep for animation*/
    .body a:visited, .body a:link{
        color: black;
        text-decoration: none;
    }

    /*animates the links*/
    .body a:hover, .body a:active{
        color: rgb(255, 255, 255);
        transition: 1s;
        background-color: black;
    }

    /*animates the p tags*/
    .body a:hover p{
        animation-name: FntGrow2;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*animates the two lined p tags*/
    .body a:hover p#twoLiner{
        animation-name: FntGrow4;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*styles the left items*/
    .body > div:nth-of-type(odd){
        border-radius: 5px;
        clear: both;
        width: 49%;
        float: left;
    }

    /*styles the right items*/
    .body > div:nth-of-type(even){
        border-radius: 5px;
        width: 49%;
        float: right;
    }

    /*more animation of p tags*/
    .body > div > a > p:hover{
        animation-name: FntGrow2;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*more animation of p tags but for double lined p tags*/
    .body > div > a > p#twoLiner:hover{
        animation-name: FntGrow4;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

@media only screen and (min-width: 992px){

    /*set body width*/
    .body{
        width: 90%;
    }

    /*animates the link*/
    .body a:hover{
        background-color: var(--main-color);
        border-radius: 5px;
    }

    /*resizes the h1 elements*/
    .body h1{
        font-size: 60px;
    }

    /*styles the div items*/
    .body div{
        font-size: 40px;
        margin-right: 0px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        float: none;
        width: 400px;
        height: 350px;
        border-radius: 5px;
        display: inline-flex;
    }

    /*styles the div's img*/
    .body > div img{
        height: 250px;
    }

    /*prepares p tag for animation*/
    .body > div > a > p{
        margin-top: 0px;
    }

    /*animates p tag*/
    .body > div > a > p:hover{
        animation-name: FntGrow3;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*prepares two lined p tag for animation*/
    .body > div > a > p#twoLiner{
        margin-top: 0px;
    }

    /*animates two lined p tag*/
    .body > div p#twoLiner:hover{
        animation-name: FntGrow3;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }

    /*reverts div to normal*/
    .body > div:nth-of-type(odd){
        border-radius: 5px;
        clear: none;
        width: 400px;
        float: none;
        margin-right: 0px;
        height: 350px;
    }

    /*reverts div to normal*/
    .body > div:nth-of-type(even){
        border-radius: 5px;
        width: 400px;
        float: none;
        margin-right: 0px;
        height: 350px;
    }

    /*animates p tag through a tag*/
    .body a:hover p{
        animation-name: FntGrow3;
        animation-duration: 750ms;
        animation-fill-mode: forwards;
    }
}

/*this is the animation for the smallest screen*/
@keyframes FntGrow1 {
    0%
    {
        font-size: 1em;
        margin-top: 20px;
    }
    50%
    {
        font-size: 1.1em;
        color: rgb(128, 128, 128);
        background-color: rgba(0, 0, 0, 0.479);
        margin-top: 17px;
    }
    100%
    {
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        margin-top: 15px;
    }
}

/*this is the animation for the small screen*/
@keyframes FntGrow2 {
    0%
    {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    50%
    {
        font-size: 35px;
        color: rgb(128, 128, 128);
        background-color: rgba(0, 0, 0, 0.479);
        margin-top: 27px;
        margin-bottom: 28px;
    }
    100%
    {
        font-size: 37px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        margin-top: 25px;
        margin-bottom: 26px;
    }
}

/*this is the animation for the large screen*/
@keyframes FntGrow3 {
    0%
    {
        font-size: 30px;
    }
    50%
    {
        font-size: 35px;
        color: rgb(128, 128, 128);
        background-color: rgba(0, 0, 0, 0.479);
    }
    100%
    {
        font-size: 37px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
}

/*this is the animation for the double lined boxes in the small screen*/
@keyframes FntGrow4 {
    0%
    {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    50%
    {
        font-size: 35px;
        color: rgb(128, 128, 128);
        background-color: rgba(0, 0, 0, 0.479);
        margin-top: 10px;
        margin-bottom: 28px;
    }
    100%
    {
        font-size: 37px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        margin-top: 5px;
        margin-bottom: 5px;
    }
}