/*Author: Connor Knight*/

/*This is the css for the contact me page*/

/*All possible fonts that can be used are defined here*/

@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 600px){

    /*styles the content body*/
    .body{
        text-align: center;
        margin: auto;
        width: 100%;
        background: var(--main-color);
        border-radius: 5px;
        font-size: 1em;
        box-shadow: 3px 3px 3px var(--shadow-color);
    }

    /*iframe stuff*/

    .mapouter{
        margin: 0px;
        opacity: 75%;
        transition: 1s;
    }

    .mapouter:hover{
        opacity: 100%;
        transition: 1s;
    }

    iframe{
        border-radius: 2px;
        width: 100%;
        height: 500px;
    }

    /*this the title content to change the font*/
    h2{
        font-family: 'open';
    }

    /*makes some of the content invisible*/
    strong{
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px){

    /*styles the content body*/
    .body{
        text-align: center;
        margin: auto;
        width: 90%;
        border-radius: 5px;
        font-size: 15px;
    }

    /*this the title content*/
    h1{
        margin: 5px;
    }

    /*iframe stuff*/

    .mapouter{
        margin: 0px;
        opacity: 75%;
        transition: 1s;
    }

    .mapouter:hover{
        opacity: 100%;
        transition: 1s;
    }

    iframe{
        border-radius: 2px;
        width: 100%;
        height: 500px;
    }

    /*makes the bonus content visible*/
    strong{
        visibility: visible;
    }
}

@media only screen and (min-width: 992px){

    /*styles the content body*/
    .body{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        border-radius: 5px;
        font-size: 1.4em;
    }

    /*iframe mumbo jumbo that is dumb and triple layered*/

    .mapouter{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0px;
        opacity: 70%;
        transition: 1s;
        height: 100%;
    }

    /*outer box*/
    .mapouter:hover{
        opacity: 100%;
        transition: 0.5s;
    }

    /*middle box*/
    .gmap_canvas{
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

    /*inner box*/
    #gmap_canvas{
        height: 100%;
    }

    /*this is the side content that is on the side*/
    .body h1, .body h2:first-of-type{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: max-content;
    }

    /*formats the first h2*/
    .body h2:first-of-type{
        margin-top: 20%;
    }

    /*tells the last h2 to be in its own box*/
    h2:last-of-type{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
    }

    /*makes sure the paid DLC is not visible*/
    strong{
        visibility: hidden;
    }
}